<%= render 'shared/navbar' %>
<div class="container">
<div class="lined-paper">
  <h3><%= @quiz.name %></h3>
  <h3>Your quiz token is: <%= @quiz.token %></h3>
  <h3> Questions</h3>
  <% @questions.each_with_index do |question, n|%>
    <p><%= n+1 %> - Question: <%= question.statement %> </p>
    <p> Choices:  <%= question.choices %></p>
<%end%>
<div class="botao1">
 <%= link_to "Create a question", new_quiz_question_path(@quiz), class:"btnteste" %>
 <%= link_to "Back", quizzes_path, class:"btnteste" %>
 </div>
 </div>
  </div>
